<form class="" name="calcForm">
  <h1>Vibrent Health Calculator</h1>
  <div class="input-group">
    <input
      class="input-group-field"
      ng-model="vm.calcStr"
      name="calcInput"
      required
      ng-required=true
      ng-pattern="vm.noLetters"
    >
    </input>
    <div class="input-group-button"> 
      <input type="text" class="button" value="Submit"> 
    </div> 
  </div>
  
  <div role="alert">
    <span class="error" ng-show="calcInput.$error.required">
      You must input at least two numbers (ex. 1, 0.4, -2) and one operator such as 
      <span class="operator">+</span> 
      <span class="operator">-</span> 
      <span class="operator">*</span>
      <span class="operator">/</span>
    </span>
  </div>
  <label>your solution is {{vm.calculation(2,3)}}</label>
  <code>valid: {{calcForm.calcInput.$valid}}</code><br>
</form>